@media (max-width: 1440px) {
    .container{
        width: 90%;
    }
}

@media (max-width: 1200px) {
    .hero-block h1 {
        font-size: 53px;
    }

    .hero-block p {
        font-size: 16px;
    }

    .school-p {
        font-size: 15px;
    }

    .mission p{
        font-size: 13px;
    }

    .images {
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media (max-width: 1024px) {
    .hero-block h1 {
        font-size: 28px;
    }

    .hero-block p {
        font-size: 14px;
    }

    .school-p {
        font-size: 12px;
    }

    .mission p{
        font-size: 11px;
    }

    .images {
        justify-content: center;
        flex-wrap: wrap;
    }

    .school-block{
        padding-top: 10px;
    }

}

@media (max-width: 992px) {
    .hero-block h1 {
        font-size: 28px;
    }

    .hero-block p {
        font-size: 14px;
    }

    .school-p {
        font-size: 12px;
    }

    .mission p{
        font-size: 11px;
    }

    .images {
        justify-content: center;
        flex-wrap: wrap;
    }

    .school-block{
        padding-top: 10px;
    }

    .map{
        flex-direction: column;
        align-items: start;
    }

    .map div a{
        padding-top: 40px;
        font-size: 18px;
        justify-content: start;
    }

    .hero-block{
        height: 400px;
    }

    .map iframe{
        padding-top: 20px;
    }
}

@media (max-width: 768px) {
    .open-hamburger-menu-ion{
        display: block;
    }

    .header-block{
        display: none;
    }

    .hero{
        flex-direction: column;
    }

    .hero-block{
        height: 200px;
    }

    .hero-block-img{
        width: 90%;
    }

    .footer a{
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .school-img{
        width: 90%;
    }
    .school-info-pro{
        width: 90%;
        height: 90%;
    }

    .school-p {
        font-size: 11px;
    }

    .footer{
        flex-wrap: wrap;
    }


}

@media (max-width: 450px) {
    .school-img{
        width: 90%;
    }
    .school-info-pro{
        width: 90%;
        height: 90%;
    }

    .school-p {
        font-size: 9px;
    }

    .footer{
        flex-wrap: wrap;
    }

    .map iframe{
        width: 90%;
    }

    .footer div{
        padding-top: 15px;
    }


}

@media (max-width: 400px) {

}

@media (max-width: 375px) {
    .mission p {
        font-size: 10px;
    }

    .school-p {
        font-size: 8px;
    }

    .school-block p{
        font-size: 12px;
    }

    .hero-block h1 {
        font-size: 26px;
    }

}

@media (max-width: 320px) {
    .mission p {
        font-size: 10px;
    }

    .school-p {
        font-size: 6px;
    }

    .school-block p{
        font-size: 9px;
    }

    .hero-block h1 {
        font-size: 22px;
    }

    .hero-block p{
        font-size: 12px;
    }

    .school-div{
        width: 90%;
        margin-top: 20px;
    }

    .school-info-pro{
        font-size: 14px;
    }

    .images img{
        width: 90%;
    }
}
